// I am taking mobile first approach

$bgClr: #242b2e;
$scrollBgClr: #758283;
$txtClr: #fff;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

body {
	height: 100vh;
	width: 100vw;
}

.main-container {
	height: 100%;
	width: 100%;
	background: $bgClr;

	display: flex;
	flex-direction: column;
	// justify-content: space-between;

	.header {
		text-align: center;
		color: $txtClr;

		background-color: #03c6c7;
		width: 100%;
		height: 3em;
	}

	main {
		display: flex;
		flex-grow: 1;
		flex-direction: column;

		.chat-list {
			padding: 10px;
			height: 80vh;
			flex-grow: 1;
			margin: 5px 0;
			overflow-y: scroll;
			display: flex;
			flex-direction: column;
			color: $txtClr;

			&::-webkit-scrollbar {
				width: 0.25rem;
			}

			&::-webkit-scrollbar-track {
				background: $bgClr;
			}

			&::-webkit-scrollbar-thumb {
				background: $scrollBgClr;
			}
		}

		.chat-box {
			height: 60px;

			margin-top: 1em;
			display: flex;

			input {
				padding: 5px;
				height: 100%;
				font-size: 1.5rem;
				flex-grow: 1;
			}

			button {
				cursor: pointer;

				height: 100%;
				padding: 7px 8px;
				font-size: 1.5rem;

				background: #1b98f5;
				color: $txtClr;

				border: 1px solid transparent;

				margin-left: 2px;
			}
		}
	}
}
